button{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: rgb(46, 41, 41);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(46, 41, 41);
    color: white;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(194, 201, 224);

}

button:hover{
    background-color: rgb(109, 75, 75);
}
button:active{
    background-color: rgb(159, 167, 124);
}

.operator-btn{
    background-color: rgb(207, 200, 10);
}

.operator-btn:hover{
    background-color: rgb(251, 193, 85);
}

.operator-btn:active{
    background-color: rgb(240, 240, 94);
}